client
server
.vscode
name.txt
ServerDir/*
ServerDir/name.txt
ftest
Self Work/File IO/ftest
foo1
foo2
foo3
www
8k_img.jpg
cat_image.jpg
f22.jpg
ws.conf
copyOfServer.c
a.out
cache/*
cache
webproxy
proxy
proxyCopy.c
